@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
}

.container {
  max-width: 300px;
  height: 464px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 16px;
}

img {
  width: 90%;
  margin-top: 14px;
  border-radius: 10px;
}

h1 {
  color: hsl(218, 44%, 22%);
  margin-top: 1.4rem;
  font-size: 1.2rem;
  width: 75%;
}

p {
  color: hsl(220, 15%, 55%);
  margin-top: 4px;
  width: 82%;
}

.attribution {
  position: absolute;
  bottom: 0;
}

.attribution p {
  width: 100%;
  margin: 0.5rem ;
}

@media (max-height: 580px) {
  footer {
    display: none;
  }
}

@media (max-width: 190px) {
  footer {
    display: none;
  }
}


